#cars {
  ul {
    list-style: none;

    li { 
      display: inline;
      list-style: none;
      float: left;
      padding: 10px;
      margin: 5px;
      text-align:center; 

      &:hover img {
        opacity:1;
      }

      a {
        display: block;
      }

      img {
        margin: 5px 0;
        @include hover;
      }
    }
  }
}
