#cars {
  ul {
    list-style: none;

    li { 
      display: inline;
      list-style: none;
      float: left;
      text-align:center; 

      $square: 120px;
      width: $square;
      max-width: $square;
      height: $square;
      max-height: $square;

      &:hover img {
        opacity:1;
      }

      a {
        display: block;
      }

      img {
        margin: 5px 0;
        @include hover;
      }
    }
  }
}
