<h1>Distance per <%= @object_name %></h1>
<table>
  <tr>
    <th><%= @object_name %></th>
    <th class=numeric>No. Trips</th>
    <th class=numeric>Business</th>
    <th class=numeric>Personal</th>
    <th class=numeric>Total</th>
  </tr>
