<h1>Garaging drivers per car</h1>
<table>
  <tr>
    <th>Car</th>
    <th>Driver</th>
  </tr>
<% Trip.where(garage: true).group(:user_id).group(:car_id).order(:car_id).each do |object| %>
  <tr>
    <td><%= Car.find(object.car_id).name %></td>
    <td><%= User.find(object.user_id).name %></td>
  </tr>
<% end %>
</table>
