<h1>Reports</h1>

<%= link_to 'Distance Per Car', reports_path + '/distance_per_car' %><br />
<%= link_to 'Distance Per Driver',reports_path + '/distance_per_driver' %><br />
<%= link_to 'Garagers Per Car', reports_path + '/garaging_drivers' %><br />
<%= link_to 'Personal distance billing', reports_path + '/personal_cost_per_driver' %><br />
