<h1>Reports</h1>

<%= link_to 'Distance Per Car', reports_distancepercar_path %><br />
<%= link_to 'Distance Per Driver', reports_distanceperdriver_path %><br />
<%= link_to 'Garagers Per Car', reports_garagerspercar_path %><br />
<%= link_to 'Personal distance billing', reports_personalcostperdriver_path %><br />
